@import url('https://fonts.googleapis.com/css?family=Kosugi|Bungee|Damion|Press+Start+2P&display=swap');

:root {
  /* Set neon colors */
  --neon-green-glow: rgba(43, 226, 131,0.5);
  --neon-green-text: rgba(194,249,155,0.5);
  --neon-pink-glow: rgb(226, 43, 214);
  --neon-pink-text: rgba(225, 164, 221, 0.5);
  --neon-blue-glow: rgba(84,153,255);
  --neon-blue-text: rgb(200, 223, 255,0.7);
  --neon-ltblue-glow: rgb(153,238,253);
}

*{
  margin: 0px;
  padding:0;
  box-sizing: border-box;
}


body{
  background-color: black;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container{
  width: calc(100vw / 12 * 10);
  height: calc(100vh / 15 * 13);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto auto;
  grid-template-areas: "output" "input";
  grid-gap: 0px;
}

#output{
  grid-area: output;
  background: blue;
}

#input{
  grid-area: input;
  background: transparent;
  color: transparent;
  font-size: 100px;
}



/* .test{
  background-color: red;
  grid-area: 1 / 1 / 8 / 2;
}
 */


#title-header{
  display: flex;
  width:500px;
  height:150px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 50px 0 -100px 0
}
#subtitle-header{
  width:600px;
  transform:translateY(-80px);
}
#instructions{
  height:200px;
  overflow:auto;
  
}
p{
  font-family: 'Bungee';
  color: rgba(255,255,255,0.7);
  text-shadow:
  -0.2px -0.2px 1px rgb(200, 223, 255,0.7),
  0.2px 0.2px 1px rgb(200, 223, 255,0.7),
  0 0 5px #5499F7,
  0 0 8px #5499F7,
  0 0 15px #5499F7;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-character;
  font-weight: 100;
  
}

/* p.typewriter{
  overflow: hidden;
  animation: 
  typing 3.5s steps(30, end),
} */


h1 {
  font-family: 'Kosugi', sans-serif;
  color: transparent;
  text-shadow:
  -0.2px -0.2px 1px rgba(225, 164, 221, 0.5),
  0.2px 0.2px 1px rgba(225, 164, 221, 0.5),
  0 0 5px var(--neon-pink),
  0 0 2px var(--neon-pink),
  0 0 7px var(--neon-pink),
  0 0 8px var(--neon-pink),
  0 0 15px var(--neon-pink);
  font-size: 100px;
}

h2 {
  font-family: 'Damion', cursive;
  color:transparent;
  font-size: 80px;

  text-shadow:
  -0.2px -0.2px 1px rgba(194,249,155,0.5),
  0.2px 0.2px 1px rgba(194, 249, 155, 0.5),
  0 0 2px var(--neon-green),
  0 0 5px var(--neon-green),
  0 0 7px var(--neon-green),
  0 0 8px var(--neon-green),
  0 0 15px var(--neon-green);
  transform: rotate(-5deg);
  background-color: transparent;
}

.flicker2 {
  animation: flicker2 1s infinite alternate; 
}

.flicker1 {
  animation: flicker1 3s infinite alternate; 
}
/* 
 #wanted{
  font-family: Impact;
  font-size: 40px;
  text-align: right;
  background: -webkit-linear-gradient(top, #32fce4 0%,#a92de2 37%,#ffffff 53%,#000000 57%,#e22bd6 61%,#ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
*/


#timer{
  font-family: 'Press Start 2P', sans-serif;
  font-size: 40px;
  color:#f0acdd;
  text-align: right;
}

#wanted{
  font-family: 'Press Start 2P', sans-serif;
  font-size: 40px;
  color:#b2f0ac;
  text-align: right;
} 


#hunger, #sleepiness, #happiness {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 30px;
  color:white;
  text-align: right;
}


img{
   align-self:center;
  }


  
  @keyframes flicker2 {
      
      0%, 15%, 30%, 54%, 56%, 100% {
        
          text-shadow:
          -0.2px -0.2px 1px rgba(194,249,155,0.5),
          0.2px 0.2px 1px rgba(194, 249, 155, 0.5),
          0 0 2px var(--neon-green),
          0 0 5px var(--neon-green),
          0 0 7px var(--neon-green),
          0 0 8px var(--neon-green),
          0 0 15px var(--neon-green);
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
          box-shadow: none;
      }    

      0%, 15%, 30%, 54%, 56%, 100% {
        color: transparent;
      }
  }


  @keyframes flicker1 {
      
    0%, 15%, 30%, 54%, 56%, 100% {
      
        text-shadow:
        -0.2px -0.2px 1px rgba(225, 164, 221, 0.5),
        0.2px 0.2px 1px rgba(225, 164, 221, 0.5),
        0 0 2px var(--neon-pink),
        0 0 5px var(--neon-pink),
        0 0 7px var(--neon-pink),
        0 0 8px var(--neon-pink),
        0 0 15px var(--neon-pink);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    

    0%, 15%, 30%, 54%, 56%, 100% {
      color: transparent;
    }
}
/* 
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */