@import url('https://fonts.googleapis.com/css?family=Kosugi|Bungee|Damion|Press+Start+2P&display=swap');

:root {
  /* Set neon colors */
  --neon-green-glow: rgba(43, 226, 131,0.5);
  --neon-green-text: rgba(194,249,155,0.5);
  --neon-pink-glow: rgb(226, 43, 214);
  --neon-pink-text: rgba(225, 164, 221, 0.5);
  --neon-blue-glow: rgba(84,153,255);
  --neon-blue-text: rgba(200, 223, 255,0.7);
  --neon-ltblue-glow: rgb(153,238,253);
}

.pink{
  color: transparent;
  text-shadow:
  -0.2px -0.2px 1px var(--neon-pink-text),
  0.2px 0.2px 1px var(--neon-pink-text),
  0 0 2px var(--neon-pink-glow),
  0 0 5px var(--neon-pink-glow),
  0 0 7px var(--neon-pink-glow),
  0 0 15px var(--neon-pink-glow);
  fill: rgba(254, 174, 248, 0.4)
}

.blue{
  color: transparent;
  text-shadow:
  -0.2px -0.2px 1px var(--neon-blue-text),
  0.2px 0.2px 1px var(--neon-blue-text),
  0 0 2px var(--neon-blue-glow),
  0 0 5px var(--neon-blue-glow),
  0 0 7px var(--neon-blue-glow),
  0 0 15px var(--neon-blue-glow);
}



*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#site_wrapper{
  padding: 0 50px 0 50px;
  display:grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-areas:
  "title output"
  "instructions tama_ui"
  "gif tama_ui"
}

#title-header{
  display: flex;
  width:500px;
  height:150px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 50px 0 -100px 0
}
#subtitle-header{
  width:600px;
  transform:translateY(-80px);
}

h1 {
  font-family: 'Kosugi', sans-serif;
  color: transparent;
  text-shadow:
  -0.2px -0.2px 1px rgba(225, 164, 221, 0.5),
  0.2px 0.2px 1px rgba(225, 164, 221, 0.5),
  0 0 5px var(--neon-pink-glow),
  0 0 2px var(--neon-pink-glow),
  0 0 7px var(--neon-pink-glow),
  0 0 8px var(--neon-pink-glow),
  0 0 15px var(--neon-pink-glow);
  font-size: 100px;
}

h2 {
  font-family: 'Damion', cursive;
  color:transparent;
  font-size: 80px;

  text-shadow:
  -0.2px -0.2px 1px rgba(194,249,155,0.5),
  0.2px 0.2px 1px rgba(194, 249, 155, 0.5),
  0 0 2px var(--neon-green-glow),
  0 0 5px var(--neon-green-glow),
  0 0 7px var(--neon-green-glow),
  0 0 8px var(--neon-green-glow),
  0 0 15px var(--neon-green-glow);
  transform: rotate(-5deg);
  background-color: transparent;
}

.flicker2 {
  animation: flicker2 1s infinite alternate; 
}

.flicker1 {
  animation: flicker1 3s infinite alternate; 
}

#instructions{
  grid-area: instructions;
  height:200px;
  width: 490px;
  overflow:auto;
}
#instructions::-webkit-scrollbar {
  display: none;
}
p{
  font-family: 'Bungee';
  color: rgba(255,255,255,0.7);
  text-shadow:
  -0.2px -0.2px 1px rgb(200, 223, 255,0.7),
  0.2px 0.2px 1px rgb(200, 223, 255,0.7),
  0 0 5px #5499F7,
  0 0 8px #5499F7,
  0 0 15px #5499F7;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-character;
  font-weight: 100;
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; 
  display: flex;
  justify-content: left;
    padding:30px;
    animation: 
      scrolling 2s steps(200, end);
  }
  
  /* The typing effect */
  @keyframes scrolling {
    0% { width: 0 }
    100% { width: 100% }
  }

#output{
  display: flex;
  align-items: center;
}
#gif{
  grid-area:gif;
  padding: 20px 50px;
}
#gif_mask{
  width:400px;
  height:400px;
  display:flex;
  justify-content: center;
  align-content: center;
  border-radius: 200px;
  overflow: hidden;
}
#tama_ui{
  grid-area: tama_ui;
  width: 720px;
  height:480px;
  border-radius: 50px;
  border: solid 5px var(--neon-green-glow);
  box-shadow: 
  -0.2px -0.2px 1px var(--neon-green-text),
  0.2px 0.2px 1px var(--neon-green-text),
  0 0 2px var(--neon-green-glow),
  0 0 5px var(--neon-green-glow),
  0 0 7px var(--neon-green-glow),
  0 0 15px var(--neon-green-glow);
  background: linear-gradient(to bottom, rgba(203,48,242,1) 0%,rgba(47,192,237,0.47) 36%,rgba(249,253,254,0) 68%,rgba(255,255,255,0.03) 69%,rgba(42,99,214,0.97) 99%,rgba(42,99,214,1) 100%);
}

input{
  border:none;
  outline:none;
  background-color:transparent;
  font-family: 'Bungee', sans-serif;
  font-size: 22px;
  color: transparent;
}

input:invalid{
  animation: 
  pulse 3s infinite;
}


input::placeholder{
  color:white;
  opacity: 0.4;
  font-size:18px;
}

@keyframes pulse {
  0%, 100%  {filter: brightness(none); }
  50% {filter: brightness(2); }
}

#buttons{
  width:720px;
  height:240px;
  display:flex;
}

#stats{
  width:720px;
  height:240px;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic pic name name timer timer"
    "pic pic age key value value" 
}

#name{
  grid-area: name;
  font-family: 'Bungee', sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
}

#timer{
  grid-area:timer;
  font-family: 'Bungee', sans-serif;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#age{
  grid-area:age;
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#statheader{
  grid-area: key;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

#statprogress{
  grid-area: value;
  font-family: 'Bungee', sans-serif;
  font-size: 19px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

#pic{
  grid-area:pic;
  /* width:240px;
  height:240px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container{
  width:240px;
  height:240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
}

.button{
  width: 120px;
  height:150px; 
}

.button_container:hover{
  color: var(--neon-pink-text);
  fill: var(--neon-pink-text);
  filter: brightness(1.3);
}

.button_container:active{
  color:white;
  fill:white;
}


@keyframes flicker1 {
      
  0%, 15%, 30%, 54%, 56%, 100% {
    
      text-shadow:
      -0.2px -0.2px 1px var(--neon-pink-text),
      0.2px 0.2px 1px var(--neon-pink-text),
      0 0 2px var(--neon-pink-glow),
      0 0 5px var(--neon-pink-glow),
      0 0 7px var(--neon-pink-glow),
      0 0 8px var(--neon-pink-glow),
      0 0 15px var(--neon-pink-glow);
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    

  0%, 15%, 30%, 54%, 56%, 100% {
    color: transparent;
  }
}

@keyframes flicker2 {
      
  0%, 15%, 30%, 54%, 56%, 100% {
    
      text-shadow:
      -0.2px -0.2px 1px var(--neon-green-text),
      0.2px 0.2px 1px var(--neon-green-text),
      0 0 2px var(--neon-green-glow),
      0 0 5px var(--neon-green-glow),
      0 0 7px var(--neon-green-glow),
      0 0 8px var(--neon-green-glow),
      0 0 15px var(--neon-green-glow);
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    

  0%, 15%, 30%, 54%, 56%, 100% {
    color: transparent;
  }
}


.pacman{
  margin:0 50px;
  transform: translate(-300px,-1040px);
}

.pacman_animate{
  margin:0 50px;
  transform: translate(-300px,-1040px);
  animation: translate 2s linear;
}

.pacman-top{
  background-color:yellow;
  height:90px;
  width:180px;
  border-radius:90px 90px 0 0;
  animation: spin1 0.6s infinite linear;
}

.pacman-bottom{
background-color:yellow;
  height:90px;
  width:180px;
  border-radius:0 0 90px 90px;
  animation: spin2 0.6s infinite linear;
}


/* Animation*/
@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-50deg);}
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(50deg);}	
}

@keyframes translate {
  100%{transform: translate(1600px, -1030px)}	
}
