@import url('https://fonts.googleapis.com/css?family=Kosugi|Bungee|Damion|Press+Start+2P&display=swap');

body {
  background-color: aliceblue
}

#buttons{
  width:720px;
  height:240px;
  display:flex;
}

.button_container{
  width:240px;
  height:240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Bungee', sans-serif;
}

.button{
  width: 90px;
  height:120px; 
}

.button_container:hover{
  color:blue;
  fill:blue;
}

.button_container:active{
  color:red;
  fill:red;
}